<a href="{{ path('innova_path_manage_results', {'id': notification.details.unlock.path}) }}">{{ notification.actionKey|trans({'%path%' : notification.details.resource.name, '%step%' : notification.details.unlock.stepname}, 'notification') }}</a>
